<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= titleName %>
    </title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <!--CropperJS-->
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<link href="https://unpkg.com/cropperjs@1.6.2/dist/cropper.min.css" rel="stylesheet" />

<style>
    .cropper-container {
        max-height: 360px !important;
    }

    .cropper-wrap-box,
    .cropper-canvas {
        max-height: 360px !important;
    }
</style>

<body class="bg-[#0f172a] text-white min-h-screen flex flex-col">